<div class="header" >
    <div class="buttons">
        <button routerLink="about" >About</button>
        <button routerLink="contact" >Contact</button>
        <button routerLink="user/home" >Home</button>
        <button routerLink="user/home/login" >Login</button>
    </div>
</div>

<style>

    .header {
        border: 2px solid black;
        padding: 10px;
    }

    button{
        padding: 5px;
        text-align: center;
        margin: 5px;
    }

    .buttons{
        text-align: center;
    }

</style>